body{
margin:0;
font-family:Poppins;
background:#020617;
color:white;
}

.layout{
display:flex;
}

.content{
flex:1;
padding:30px;
}

.page{
padding:30px;
}

input{
padding:14px;
width:300px;
margin:15px 0;
border:none;
border-radius:12px;
}

button{
padding:14px 20px;
border:none;
border-radius:12px;
cursor:pointer;
background:#2563eb;
color:white;
}









