body {
  margin: 0;
  font-family: Arial;
  background: #f4f5ff;
}

.layout {
  display: flex;
}

.sidebar {
  width: 220px;
  background: white;
  height: 100vh;
  padding: 20px;
}

.sidebar a {
  display: block;
  margin: 15px 0;
  text-decoration: none;
  color: #555;
}

.content {
  flex: 1;
  padding: 20px;
}

.wallet-card {background: linear-gradient(135deg, #6a5cff, #8f6bff);
  color: white;
  padding: 30px;
  border-radius: 20px;
}

.transactions {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 20px;
}

button {
  background: #6a5cff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
}

input {
  padding: 12px;
  width: 250px;
  margin-right: 10px;
}













